{% extends 'djstore/base.html' %}

{% block content %}
    <div class="row" style="border-bottom: 1px solid #000">
        <a href="{% url 'bucket_url' %}"><i style='font-size:24px; color: black' class='fas'>&#xf218;</i></a>
    </div>


    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}">
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.rating }}</p>
    <p>{{ product.warranty }}</p> </br>
    <a href="{% url 'add_to_bucket_url' slug=product.slug %}">Buy</a>

    <h2>Comments:</h2>
    {% for item in product.get_comments %}
        <li>{{ item.text }}  {{ item.date }}</li>
        <p>{{ item.rating }}</p>
    {% endfor %} </br>

    <form action="." method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
        <button type="submit">Send</button>
    </form>
{% endblock %}